<div class="modal-overlay hidden" id="deleteClassModal">
  <div class="modal card">
    <h2>Delete Class</h2>

    <p id="deleteStepText"></p>

    <div id="deleteImpactBox" class="hidden">
        <ul>
            <li><strong><span id="assignmentCount"></span></strong> assignments</li>
            <li><strong><span id="sessionCount"></span></strong> study sessions</li>
        </ul>
    </div>

    <div id="deleteInputBox" class="hidden">
        <label class="input-label">
            Type class name to confirm
        </label>
        <input
            type="text"
            id="deleteConfirmInput"
            class="input-field"
        >
    </div>

    <form id="deleteClassForm">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="modal-actions">
            <button
                type="button"
                class="btn ghost-btn"
                id="deleteBackBtn"
            >
                Back
            </button>

            <button
                type="button"
                class="btn ghost-btn"
                id="cancelDelete"
            >
                Cancel
            </button>

            <button
                type="button"
                class="btn full-btn"
                id="confirmDelete"
                disabled
            >
                Delete
            </button>
        </div>
    </form>
  </div>
</div>
